body {
        background-color: aliceblue;
        height: 90vh;
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
      }
      .QR {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0px solid black;
        background-color: white;
        width: 18rem;
        height: 30rem;
        padding: 0.8rem;
        border-radius: 5%;
        opacity: 1.899;
      }
      .QR h1 {
        font-size: 1.1rem;
        font-family: sans-serif;
        font-weight: 750;
        text-align: center;
        padding: 1rem 1rem 0 1rem;
        opacity: 0.8;
      }
      .QR p {
        font-size: 0.9rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        text-align: center;
        color: black;
        opacity: 0.5;
        padding: 0 1rem 1rem 1rem;
      }
      .qr-image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        box-sizing: border-box;
      }
      .qr-image img {
        width: 18rem; 
        height: 18rem; 
        border-radius: 0.5rem;
      }
      .attribution {
        font-size: 14px;
        text-align: center;
        margin-top: 1rem;
        width: 100%;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }